@media screen and (min-width: 500px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .content-container.hero {
    justify-content: space-evenly;
  }

  .content-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .hero-image {
    width: 225px;
  }

  .section-image {
    width: 200px;
  }
}